@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --dark1: #151414;
  --dark2: #444343;
  --primary: #f15b22;
  --main-padding: 230px;
  --full: 100%;
}
* {
  margin: 0;
  font-family: "Work Sans";

  padding: 0;
  box-sizing: border-box;
}

#header {
  background: url("./images/banner/banner1.png");
  height: 808px;
  object-fit: cover;
  object-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 230px;
}

#header > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

#header h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 76px;
  text-align: right;
  color: var(--dark1);
}

#header p {
  color: var(--dark2);
}

#header button {
  background-color: var(--primary);
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  width: max-content;
  margin-left: auto;
}

/* ---------------------------- header done ---------------------------- */

#hero {
  display: grid;
  padding: var(--main-padding);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
  justify-items: left;
}
#hero img {
  width: var(--full);

  /* padding-right: 50px; */
}

#hero div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#hero h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--dark1);
}
#hero p {
  color: var(--dark2);
}
/* ----------------------------- hero done ----------------------------- */

#plan > main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--main-padding);
}
#plan > main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#plan h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--dark1);
  text-align: center;
}

#plan h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: var(--dark1);
}
#plan p {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

/* ---------------------------- cta section ---------------------------- */
#cta {
  background: url("./images/watch.png");
  height: 300px;
  margin: var(--main-padding);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

#cta div {
  width: 50%;
  z-index: 100;
  left: 64px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

#cta h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
}
#cta button {
  margin-top: 25px;
  background-color: white;
  padding: 20px 25px;
  border: 0;
  border-radius: 5px;
  color: var(--primary);
  font-size: 20px;
  width: max-content;
  margin-left: auto;
}
